<h3>Make a new project!</h3>

<%= form_for @project do |form| %>
  Name:</br> <%= form.text_field :name %></br>
  Description:</br> <%= form.text_field :description %></br>
  <%= form.submit %>
<% end %>

<p><%= link_to "Back", projects_path%></p>