<h3>Make a new project!</h3>

<%= form_for @project do |form| %>
  Name: <%= form.text_field :name %></br>
  Description: <%= form.text_field :description %></br>
  <%= form.submit %>
<% end %>

<p><%= link_to "Back", projects_path%></p>