<h1><%= @project.name%></h1>

<p><%= link_to "Edit Project", edit_project_path(@project.id) %></p>


<%= link_to "Add A New Task", new_project_task_path(@project.id) %>




<h3>Active Tasks</h3>

<table>
	<thread>
		<tr>
			<th> </th>
			<th>Task Name</th>
			<th>Note</th>
			<th> </th>
		</tr>
	</thread>
	<tbody>
<% @project.tasks.where(status: false).each do |task|%>
	<tr>
		<td><%= button_to "DidIt", complete_project_task_path(@project,task), method: :put, class: "button-primary" %></td>
		<td><%=task.name%></td>
		<td><%=task.description%></td>
		<td><%= link_to "Edit", edit_project_task_path(@project,task) %></td>
	</tr>
	</tbody>
<%end%>
</table>





<h3>Completed Tasks</h3>
<table>
<% @project.tasks.where(status: true).each do |task|%>
	<tr>
		<td><%= button_to "ReDo", reverse_status_project_task_path(@project,task), method: :put %></td>
		<td><%=task.name%></td>
		

	</tr>
<%end%>

</table>

<p><%= link_to "Back", projects_path%></p>




